 {% load staticfiles %}
 <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<!--<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" /> -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!--<link href="css/chocolat.css" rel="stylesheet">-->

<div class="copy-right">
	<div class="container">
			<p> &copy; 2015 Classic Hotel. All Rights Reserved | Design by  <a href="http://w3layouts.com/"> W3layouts</a></p>
	</div>
</div>
<script src="{% static 'js/bootstrap.js' %}"></script>